[user]
	name = nojhan
	email = nojhan@nojhan.net
[alias]
    st = status
    ci = commit -v
    cb = checkout -b # create branch
    ca = commit -v -a
    co = checkout
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"
    up = pull origin
    di = diff
    br = branch
    sta = stash
[pager]
    #  use less as pager
    # -R is necessary to display colors in less
    # the '+' calls a command at start, that will jump to the first diff section
    # then, you just have to type 'n' to iterate over diff sections
    diff = less -R +'/^\\@\\@\\s'
[color]
    ui = auto
[push]
    default = simple
[rebase]
	instructionFormat = (%an <%ae>) %s
[credential]
	helper = store
[pull]
	rebase = true
[diff "odf"]
    textconv=odt2txt
[diff]
	algorithm = histogram
